<html>
    <head>
    <!--   全局自定义指令 比如我们自己定义额 v-focus 焦点 指令 v-color 80行-->
    <!-- 和js有关的写在 inserted 中， 和样式相关的一般都可以在bind中-->
    <!-- 私有指令和 私有过滤器一样，写到vue中，是 directives:{这样，定义指令名，然后钩子函数}-->
    <!-- 自定义指令可以简写，但是简写只是 bind和update中。会同时赋予  114行-->
<meta charset="UTF-8">

<title>VUE day 3</title>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 这里导入bootstarp -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
</head> 

<body>

    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <!-- 写了form-inline div里面的就会并排-->
            <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                        name:
                        <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                    </label>     
            <!-- 在vue中， 使用事件绑定机制，为元素绑定处理函数的时候，如果加了小括号就可以传参数了-->
            <input type="button" value="添加" class="btn btn-primary" @click="add()">
            <label>
                    搜索名称关键字:
                    <!--注意： Vue中所有的指令，在调用时，都以 v-开头-->
                    <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'" v-fontsize="30">
            </label> 

            </div>


        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前 v-for中的数据，都是直接冲 data上的list渲染过滤的-->
                <!--现在 我们自定义了一个search方法，同时把 关键字传递给search方法-->
                <!-- 遍历，包含这个关键字的就返回, 实现实时更新数据-->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.Ctime}}
                    </td>
                    <td>
                        <a @click.prevent="deldete(item.id)">删除</a>
                    </td>
                                
                </tr>
            </tbody>

        </table>
    </div>

</body>
<script>

    // 使用 Vue.directive 定义全局自定义指令
    // 其中 参数1： 指令的名称， 注意，在定义的时候，指令的名称前面，不需要加 v-前缀,但是在调用的时候必须写v-
    //      参数2： 是一个对象，这个对象身上有一些指令相关的函数,这些函数可以在特定的阶段执行相关的操作
    Vue.directive('focus',{
        bind: function(el){   //每当指令绑定到元素傻瓜的时候，会立即执行这个函数,且只执行一次
        // 这个参数el ，就是被绑定的元素 
        el.focus()
        // 这个bind，我们的元素还没有放到demo中去，还没有生成，
        // 在元素刚绑定了指令的时候，还没有插入到demo中去，这时候调用focus方法，没有作用,因为一个元素只有插入demo后才能获取焦点
        
        },
        inserted: function(el){// 表示元素插入到demo中的时候会执行这个 inserted函数，只触发一次.
        el.focus()//  这里直接节点 调用 focus就可以获取焦点。 多看api啊
        },
        updated: function(el){// 当Vnode更新的时候，会执行 update，可能会触发多次

        }
    })
    // 自定义设置字体颜色的指令
    Vue.directive('color',{
        // 为什么这里设置样式的元素可以写在bind中，因为样式不需要插入，只有写了样式，有元素了就会应用
        // 样式只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
        // 将来元素肯定会显示到页面中去。这时候，浏览器的渲染引擎必然会解析样式进行应用
        bind: function(el, binding){
            // binding是钩子函数自己的参数，里面有很多属性
            // binding.value  是把那个 blue输出
            // binding.expression  是原始的也就是  'blue'
            el.style.color=binding.value
        },

    })
    Vue.directive('fontsize', function(el, binding){// 这个function 等同于把代码写到了bind和 update中。
        el.style.fontSize = parseInt(binding.value)+"px"

    })

    var vm = new Vue({
        el: '#app', 
        data: {
            id:'',
            name:'',
            keywords: '',
            list:[
                {id: 1, name: "奔驰", Ctime: new Date()},
                {id: 2, name: "宝马", Ctime: new Date()}
            ]
        },
        methods:{
            deldete(del_id){
                //如何根据id拿到 要删数据的索引
                //找到后直接 使用 splice方法
                // this.list.some((item, i)=>{
                //     if (item.id == del_id){
                //         // 从i的位置删除，删除1个
                //         this.list.splice(i, 1)
                //         //在数组中如果 return true 就会立即终止这个数组的循环

                //     return true;
                // }
                // })
                
                //还有新的方法
                // 回调函数然后一个index 
                var index = this.list.findIndex(item=>{
                    if (item.id == del_id){
                        return true
                    }
                })
                this.list.splice(index, 1)
            },
            add(){
                this.list.push({id: this.id, name: this.name, Ctime: new Date()})
            },
            search(keywords){// 根据关键字实现搜索
            // var newList = []
            //     this.list.forEach(item => {
            //         // 字符子串有没有这个，使用是否有
            //         if (item.name.indexOf(keywords) !=-1){
            //             newList.push(item)
            //         }
                    
            //     });
            //     return newList
            
            //上面是一种判断的方法，下面是es6新的方法
            // 注意   forEach some filter  findIndex 都是数组的新方法
            // 都会对数组中的每一项进行遍历，执行相关操作。
            var newList = this.list.filter((item)=>{
                // 注意  ES6 中 为字符串提供了一个新方法，叫做 
                // String.prototype.includes('要包含的字符串')
                // 如果包含 则返回 
                if (item.name.includes(keywords)){
                    return item
                }

            })
            return newList
            },
        }
    })
    </script>



</html>